@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

html {
  height: 100%;
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (min-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.4rem; }

.hero {
  height: 100vh;
  color: white;
  background: url(../images/bg-stars.svg) no-repeat top center, url(../images/pattern-hills.svg) no-repeat bottom right, #1e1f29;
  background-size: contain, 946px 151px, cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 900px) {
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-size: 100% 71%, contain, cover; } }

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.second {
  padding-top: 12rem;
  background: url(../images/bg-stars.svg) no-repeat bottom center, linear-gradient(180deg, #30243a 0%, #020024 100%); }

.project-title {
  color: white;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4rem; }

.row {
  display: block; }
  @media (min-width: 900px) {
    .row {
      display: flex;
      width: 80%;
      margin: auto;
      max-width: 1400px;
      padding-bottom: 10rem; } }

.card {
  width: 30%;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #30243a; }
  .card:not(:last-of-type) {
    margin-right: 4rem; }
  .card__image {
    height: 190px;
    width: 100%;
    margin-bottom: 1rem; }
    @media (min-width: 900px) {
      .card__image {
        margin-bottom: 4rem; } }
  .card__title {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 2.4rem; }
  .card__details {
    color: #8486a9;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.4; }
    @media (min-width: 900px) {
      .card__details {
        margin-bottom: 2rem;
        padding: 0 10px; } }
  @media (min-width: 900px) {
    .card {
      margin-bottom: 3rem;
      padding: 0; } }

.third {
  background: url(../images/bg-stars.svg), linear-gradient(180deg, #020024 0%, #0e0e55 100%); }

.main-headline {
  text-transform: uppercase;
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 10rem;
  width: 80%;
  font-size: 1.8rem;
  letter-spacing: 7px; }
  @media (min-width: 900px) {
    .main-headline {
      margin-top: 6rem; } }

.main-headline h2 {
  font-size: 5rem; }

.main-about {
  display: flex;
  width: 70%;
  margin: auto; }

.main-about p {
  margin-left: 5rem;
  font-size: 3rem; }

.main-about img {
  border-radius: 5px; }

.main-content {
  display: flex;
  margin-top: -24rem; }
  @media (min-width: 900px) {
    .main-content {
      margin-top: -14rem; } }

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }

.project-link {
  color: #8486a9;
  border: 1px solid #8486a9;
  padding: 0.5rem 1rem;
  text-decoration: none; }
  .project-link:hover {
    border: 1px solid #fb6087;
    color: #fb6087; }

.extra-left-margin {
  margin-left: 1.5rem; }

.see-more {
  text-align: center;
  margin-bottom: 8rem; }

.see-more a {
  color: #8486a9;
  cursor: pointer;
  display: inline-block; }
  .see-more a:hover {
    color: #fb6087; }

.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto; }
  .flip-clock *,
  .flip-clock *:before,
  .flip-clock *:after {
    box-sizing: border-box; }

.flip-clock__piece {
  display: inline-block;
  margin: 0 7px; }
  @media (min-width: 900px) {
    .flip-clock__piece {
      margin: 0 12px; } }

.flip-clock__slot {
  font-size: 2vw;
  color: #8486a9;
  text-transform: uppercase;
  letter-spacing: 3px; }
  @media (min-width: 900px) {
    .flip-clock__slot {
      font-size: 1.5rem; } }

ion-icon {
  font-size: 35px;
  color: #8486a9;
  margin-left: 1.5rem;
  transition: 0.3s; }
  @media (min-width: 900px) {
    ion-icon {
      font-size: 30px; } }
  ion-icon:hover {
    color: #fb6087; }

.social {
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0 0.3rem;
  margin-bottom: 3rem; }
  @media (min-width: 900px) {
    .social {
      font-size: 1.5rem;
      width: 12%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0 0.5rem;
      order: 4; } }

.attribution {
  font-size: 11px;
  text-align: center;
  display: none; }
  @media (min-width: 600px) {
    .attribution {
      display: block; } }

.attribution a {
  color: #3e52a3; }
