@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import 'variables';
@import 'reset';

html {
  height: 100%;
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: $font-family;
  font-size: 1.4rem;
}

.hero {
  height: 100vh;
  color: $white;
  background: url(/images/bg-stars.svg) no-repeat top center,
    url(/images/pattern-hills.svg) no-repeat bottom right, #1e1f29;
  background-size: contain, 946px 151px, cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-size: 100% 71%, contain, cover;
  }
}

.second {
  height: 100vh;
  background-color: #30243a;
}

.main-headline {
  text-transform: uppercase;
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 3rem;
  width: 80%;
  font-size: 1.8rem;
  letter-spacing: 7px;

  @include respond(tab-port) {
    margin-top: 6rem;
  }
}

.clock-container {
  display: flex;
  margin-top: -24rem;

  @include respond(tab-port) {
    margin-top: -14rem;
  }
}

.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.flip-clock__piece {
  display: inline-block;
  margin: 0 7px;

  @include respond(tab-port) {
    margin: 0 12px;
  }
}

.flip-clock__slot {
  font-size: 2vw;
  color: $grayishBlue;
  text-transform: uppercase;
  letter-spacing: 3px;

  @include respond(tab-port) {
    font-size: 1.5rem;
  }
}

.card {
  display: block;
  position: relative;
  padding-bottom: $halfHeight;

  font-size: 11vw;
  line-height: 0.95;

  @include respond(tab-port) {
    font-size: 6vw;
    box-shadow: 0 9px 5px -2px #191a24;
    margin-bottom: 3rem;
  }
}

.card::after {
  content: '';
  position: absolute;

  top: 45%;
  left: -2px;
  background-color: $veryVeryDarkBlue;
  border-radius: 0 50px 50px 0;
  z-index: 6;
  width: 8px;
  height: 10px;

  @include respond(tab-port) {
    width: 10px;
    height: 15px;
  }
}

.card::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 10px;
  top: 50%;
  right: -2px;
  transform: translateY(-50%);
  background-color: $veryVeryDarkBlue;
  border-radius: 50px 0 0 50px;
  z-index: 6;

  @include respond(tab-port) {
    width: 10px;
    height: 15px;
  }
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: $halfHeight;
  color: $softRedDark;
  background: hsl(235, 26%, 18%);
  padding: 0.25em 0.25em;
  border-radius: $borderRadius $borderRadius 0 0;
  // backface-visiblity: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}

.card__bottom {
  color: $softRed;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: $darkDesaturatedBlue;
  border-radius: 0 0 $borderRadius $borderRadius;
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -$halfHeight;
}

.card__back::before,
.card__bottom::after {
  content: attr(data-value);
}

.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1); // 0.3s;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%,
  99% {
    opacity: 0.99;
  }

  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}

ion-icon {
  font-size: 35px;
  color: $grayishBlue;
  margin-left: 1.5rem;
  transition: 0.3s;

  @include respond(tab-port) {
    font-size: 30px;
  }

  &:hover {
    color: $softRed;
  }
}

.social {
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0 0.3rem;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    font-size: 1.5rem;
    width: 12%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 0.5rem;
    order: 4;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
  @include respond(phone) {
    display: block;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
