@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import 'variables';
@import 'reset';

html {
  height: 100%;
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: $font-family;
  font-size: 1.4rem;
}

.hero {
  height: 100vh;
  color: $white;
  background: url(../images/bg-stars.svg) no-repeat top center,
    url(../images/pattern-hills.svg) no-repeat bottom right, #1e1f29;
  background-size: contain, 946px 151px, cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-size: 100% 71%, contain, cover;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.second {
  // height: 100vh;
  // background-color: #30243a;
  // background: rgb(48, 36, 58);
  padding-top: 12rem;
  // background: linear-gradient(
  //   180deg,
  //   rgba(48, 36, 58, 1) 0%,
  //   rgba(2, 0, 36, 1) 100%
  // )

  background: url(../images/bg-stars.svg) no-repeat bottom center,
    linear-gradient(180deg, rgba(48, 36, 58, 1) 0%, rgba(2, 0, 36, 1) 100%);
  // background-size: contain, 946px 151px, cover;
}

.project-title {
  color: white;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4rem;
}

.row {
  display: block;
  @include respond(tab-port) {
    display: flex;
    width: 80%;
    margin: auto;
    max-width: 1400px;
    padding-bottom: 10rem;
  }
}

.card {
  width: 30%;
  color: white;
  // box-shadow: 0 8px 6px -6px white;
  // box-shadow:         3px 3px 5px 6px rgba(48, 36, 58, 1);
  // padding: 3rem 2rem;
  text-align: center;
  border-radius: 5px;
  // background: linear-gradient(
  //   180deg,
  //   rgba(48, 36, 58, 1) 0%,
  //   rgb(97, 93, 180) 100%
  // );
  background-color: rgba(0, 0, 0, 0.1);

  border: 2px solid rgba(48, 36, 58, 1);
  &:not(:last-of-type) {
    margin-right: 4rem;
  }
  &__image {
    height: 200px;
    width: 100%;
    // width: 7.7rem;

    margin-bottom: 1rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }
  &__title {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 2.4rem;
  }
  &__details {
    color: $grayishBlue;

    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.4;

    @include respond(tab-port) {
      margin-bottom: 2rem;
      padding: 0 10px;
    }
  }

  @include respond(tab-port) {
    // width: 100%;
    // margin: auto;
    margin-bottom: 3rem;
    padding: 0;
  }
}

.third {
  // height: 100vh;
  // background: rgb(2, 0, 36);
  // background: linear-gradient(
  //   180deg,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgb(14, 14, 85) 100%
  // );

  background: url(../images/bg-stars.svg),
    linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(14, 14, 85) 100%);
}

.main-headline {
  text-transform: uppercase;
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 10rem;
  width: 80%;
  font-size: 1.8rem;
  letter-spacing: 7px;

  @include respond(tab-port) {
    margin-top: 6rem;
  }
}

.main-headline h2 {
  font-size: 5rem;
}

.main-about {
  display: flex;
  width: 70%;
  margin: auto;
}

.main-about p {
  margin-left: 5rem;
  font-size: 3rem;
}

.main-about img {
  border-radius: 5px;
}

.main-content {
  display: flex;
  margin-top: -24rem;

  @include respond(tab-port) {
    margin-top: -14rem;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.project-link {
  color: $grayishBlue;
  border: 1px solid $grayishBlue;
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover {
    border: 1px solid $softRed;
    color: $softRed;
  }
}

.extra-left-margin {
  margin-left: 1.5rem;
}

.see-more {
  text-align: center;
  margin-bottom: 8rem;
}

.see-more a {
  color: $grayishBlue;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $softRed;
  }
}

.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.flip-clock__piece {
  display: inline-block;
  margin: 0 7px;

  @include respond(tab-port) {
    margin: 0 12px;
  }
}

.flip-clock__slot {
  font-size: 2vw;
  color: $grayishBlue;
  text-transform: uppercase;
  letter-spacing: 3px;

  @include respond(tab-port) {
    font-size: 1.5rem;
  }
}

ion-icon {
  font-size: 35px;
  color: $grayishBlue;
  margin-left: 1.5rem;
  transition: 0.3s;

  @include respond(tab-port) {
    font-size: 30px;
  }

  &:hover {
    color: $softRed;
  }
}

.social {
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0 0.3rem;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    font-size: 1.5rem;
    width: 12%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 0.5rem;
    order: 4;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
  @include respond(phone) {
    display: block;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
